@page "/course_dashboard"
@inject IUnitOfWork Services;
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Course Dashboard</PageTitle>

@if (isLoading)
{
    <p><em>Läser in...</em></p>
}
else if (currentUser != null)
{
    if (currentUser.Role.ToString().Equals("Teacher") && currentUser.UserId > 0)
    {
        <div class="mt-2">
            <NavLink class="btn btn-primary" href="/edit_course">Lägg ny kurs</NavLink>
            <NavLink class="btn btn-secondary" href="/dashboard">Till översikt</NavLink>
        </div>

        @if (courses.Any())
        {
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Lista av kurser </h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover mt-3">
                                <thead>
                                    <tr>
                                        <th scope="col">Kurs Id</th>
                                        <th scope="col">Namn</th>
                                        <th scope="col">Start Datum</th>
                                        <th scope="col">Slut Datum</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var course in courses)
                                    {
                                        <tr>
                                            <td>@course.CourseId</td>
                                            <td>@course.Name</td>
                                            <td>@course.StartDate</td>
                                            <td>@course.EndDate</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Course Actions">
                                                    <a class="btn btn-primary" href="@EditCourseUrl(course.CourseId)">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-secondary" href="@DetailsCourseUrl(course.CourseId)">
                                                        <i class="bi bi-card-list"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@($"#deleteModal-{course.CourseId}")">
                                                        <i class="bi bi-x-lg"></i>
                                                    </button>
                                                    <DeleteCourse Course="@course" />
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3>Det finns inga kurser i systemet</h3>
        }
    }
    else
    {
        NavigateToHome();
    }
}


@code {
    private bool isLoading = true;
    private List<Course>? courses;
    private User? currentUser;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await Services.UserService.GetCurrentUserAsync();

            if (currentUser == null)
            {
                NavigateToHome();
            }

            StateHasChanged();
        }
    }

    protected async override Task OnInitializedAsync()
    {
        courses = (await Services.CourseService.GetCoursesAsync()).ToList();
        isLoading = false;
    }

    private string EditCourseUrl(int id) => $"/edit_course/{id}";
    private string DetailsCourseUrl(int id) => $"/course_details/{id}";
    private void NavigateToHome() => Navigation.NavigateTo("/", true);
}
