@page "/courses"
@inject IUnitOfWork Services
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using System.Net.Http.Json
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@using Lexicon.Frontend.ServicesImp
@inject IAuthService AuthService


<h3>Course Overview</h3>

<p>Welcome, @currentUser.FirstName @currentUser.LastName!</p>

@if (courses == null)
{
    <p><em>Loading courses...</em></p>
}
else if (!courses.Any())
{
    <p>No courses available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                @if (isTeacher)
                {
                    <th>
                        <a @onclick="NavigateToNewModule" class="btn btn-primary">+ Module</a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>@course.Description</td>
                    <td>@course.StartDate.ToShortDateString()</td>
                    <td>@course.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private List<Course> courses;
    private Lexicon.Api.Entities.User currentUser;
    private bool isTeacher;

    protected override async Task OnInitializedAsync()
    {
        currentUser = AuthService.GetCurrentUser();
        if (currentUser != null)
        {
            isTeacher = currentUser.Role == Lexicon.Api.Entities.UserRole.Teacher;

            if (isTeacher)
            {
                courses = await Services.CourseService.GetCoursesAsync();
            }
            else
            {
                // I guess GetStudentCourseAsync uses student id as parameter
                var studentCourse = await Services.CourseService.GetStudentCourseAsync(currentUser.UserId);
                courses = new List<Course> { studentCourse };
            }
        }
        else if(currentUser == null)
        {
            // Handel users thats not logged in
            Navigation.NavigateTo("/login1");
        }
    }

    private void NavigateToNewModule()
    {
        Navigation.NavigateTo("/new_or_register_module");
    }
}
